:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.task-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
